html {
  background-color: #fffbee;
  font-family: 'GortonPerfected','sans-serif';
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  line-height: 1;
}
/* Sets spacing for headers globally*/
h1, h2, h3, h4 {
line-height: 0.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 2rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1rem 0;
  font-size: 1rem;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'GortonPerfected';
  src: url('/fonts/GortonPerfectedVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #fffbee;
    --accent-bg: #fff2b8;
    --text: #080707;
    --text-light: #585858;
    --accent: #c97500;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }
}