html {
  background-color: #fffbee;
  font-family: 'GortonPerfected','sans-serif';
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}
/* Sets spacing for headers globally*/
h1, h2, h3, h4 {
line-height: 0.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0.5rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'GortonPerfected';
  src: url('/fonts/GortonPerfectedVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}