html {
  background-color: #b4c6d8;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'GortonPerfected';
  src: url('/fonts/GortonPerfectedVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}