---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---
<html>
<Navigation />
  <body>
    <h1>Hello, World! This is the about page!</h1>
    <p> Blimey, this HTML malarkey is something. </p>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>

<a href="/">Home</a>