---
import Navigation from '../components/Navigation.astro';
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
<Navigation />
  <body>
    <h1>Hello, World!</h1>
    <ul>
      <li><a href="/posts/astro-learning/">Learning Astro</a></li>
    </ul>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>

<a href="/about/">About</a>