---
import Navigation from '../components/Navigation.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Site</title>
  </head>
  <body>
    <Navigation />
    
    <main>
      <h1>Hello, World!</h1>
      <ul>
        <li><a href="/posts/astro-learning/">Learning Astro</a></li>
      </ul>
    </main>
  </body>
</html>

<style>
  :where(h1) {
    color: orange;
  }
</style>