---
---
<header>
  <h1 class="header__title">Paul Pickering</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </nav>
</header>

<style>
    header { /*Using a 'flexbox' to middle justify */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

  .header__title {
    font-family: "GortonPerfected", Arial, sans-serif; 
  }
</style> 

