---
---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1> Paul Pickering </h1>

<style>
    h1 { /* arguments are font, then fallback, then second fallback*/
        font-family: "GortonPerfected", Arial, sans-serif; 
    }