---
---
<header>
  <h1 class="header__title">Paul Pickering</h1>
  <h2 class="header__subtitle">Electronics Design Engineer</h2>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </nav>
</header>

<style>
    header { /*Using a 'flexbox' to middle justify */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  .header__title {
    font-family: "GortonPerfected", Arial, sans-serif;
    font-size: 3.5rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem; 
  }

    .header__subtitle {
    font-family: "GortonPerfected", Arial, sans-serif;
    font-size: 1.25rem;
 
  }
</style> 

